.login-dark {
  height: 300px;
  position: relative;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.navbar .logoPrincipal {
  color: rgba(255,255,255,0.9);
}

#barraNav {
  background: #1f3040;
}

#itemBarra {
  color: rgb(255,255,255);
  font-family: Alice, serif;
}

#logo {
  color: rgb(255,255,255);
  font-family: Alice, serif;
  font-weight: bold;
  margin-left: 4px;
}

#container1 {
  padding-right: 0px;
  max-width: 200px;
  min-width: 269px;
  margin: 0px;
}

body {
  background: #15202B;
}

#btnConectarse {
  font-family: Alice, serif;
}

#tituloLogin {
  font-size: 38px;
  text-align: center;
  color: rgb(255,255,255);
}

#cheems1 {
  min-height: auto;
  height: 67px;
}

#textoRegistro {
  font-size: 20px;
  font-family: Alice, serif;
  color: rgb(108,105,86);
}

#miCuenta {
  text-align: center;
}

#containerDrop {
  width: 138.016px;
  margin: 20px;
}

#nav2 {
}

#linkMiCuenta {
  border-width: 1px;
  border-style: solid;
}

#imagenRegister1 {
  height: 130px;
}

#listaSelect {
  color: rgb(108,117,101);
  background: rgb(30,40,51);
}

#tituloVideo {
  color: var(--bs-white);
  margin-left: 0.8em;
  font-size: 60px;
}

#reproduccionesYFecha {
  color: var(--bs-white);
  margin-left: 4em;
}

#contenidoVideo {
  display: flex;
  justify-content: center;
  max-width: 50%;
}

#infoVideoDiv {
  margin: 0.5em;
  max-width: 500px;
  display: flex;
}

#infoVideoContainer {
  width: 450px;
}

.videoDiv iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoDiv {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  /*max-width: 800px;*/
  /*display: flex;*/
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

#tituloVideoDiv {
  margin: 0.3em;
  /*position: relative;*/
  /*word-break: break-all;*/
}

#video {
  width: 100%;
  height: 100%;
}

.in-flex {
  flex: 1;
}

.home {
  display: flex;
  flex-wrap: wrap;
}

#valoraEsteVideo {
  color: var(--bs-white);
  text-align: center;
}

#likeButtom {
  background: inherit;
  border: inherit;
  margin-right: 3em;
  font-size: 25px;
}


#likeIcon {
  font-size: 60px;
}

#feedBackDiv {
  justify-content: center;
  text-align: center;
  margin-right: 4em;
  margin-top: 1.5em;
}

#dislikeButton {
  background: inherit;
  border: inherit;
  font-size: 25px;
}

#dislikeIcon {
  font-size: 60px;
  text-align: left;
}


#comentarioText {
  height: 70px;
  background: rgb(28,44,59);
  border-color: white;
  color: #ffffff;
  max-height: 100px;
  width: 500px;
}

#comentarioButton {
  padding: 5px;
  float: right;
  background: inherit;
  margin-bottom: 0.5em;
}

#valoracionDiv {
  background: #242a2d;
  justify-content: center;
}

#comentarioDiv {
  width: 500px;
  margin: 0.5em;
  margin-top: 1.5em;
}

#InfoVideoP {
  margin-right: 1em ;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #cac9c9;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

#autorVideo {
  margin: 1em;
  border-bottom-color: var(--bs-white);
  color: var(--bs-light);
}

#rowDescripcion {
  margin: 2em;
}

#divDescripcion {
  word-wrap: break-word;
  max-height: 250px;
  margin-top: 1em;
  margin-bottom: 1em;
  
}

#categoriasP {
  margin-top: 1em;
  font-size: 20px;
  color: var(--bs-white);
  
}

#divCategorias{
  border-top: 4px solid rgb(255,255,255)
}

#categoriasContainer {
  margin-top: 1em;
  margin-right: 5em;
  text-align: center;
  margin-bottom: 2em;
}

.botonCategoria {
  margin: 0.6em;
  border-color: #ffffff;
  background: inherit;
  font-size: 15px;
}

#suscribeButton {
  margin-left: 2em;
  border-color: #ffffff;
  background: inherit;
}

#comentariosDiv {
  word-break: break-word;
  border-top: 1px solid #bfbfbf;
  padding-top: 20px;
  margin-top: 1.5em;
  border-bottom: 1px solid #bfbfbf;
  color: var(--bs-white);
}

#comentador {
  margin-left: 1em;
  font-size: 21px;
  text-align: left;
}

#comentario {
  margin-left: 0.9em;
  font-size: 18px;
  text-align: left;
}

#seccionComentariosDiv {
  margin-left: auto;
  margin-right: auto;
}

#dejaComentario {
  color: #ffffff;
}

#comentariosHeading{
  color: #ffffff;
  margin-top: 1.5em;

}

#registrateHeading{
  color :rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
}

#mainDiv {
  /*justify-content: center;*/
}

