.login-dark {
  height: 300px;
  position: relative;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.navbar .logoPrincipal {
  color: rgba(255,255,255,0.9);
}

#barraNav {
  background: #1f3040;
}

#itemBarra {
  color: rgb(255,255,255);
  font-family: Alice, serif;
}

#logo {
  color: rgb(255,255,255);
  font-family: Alice, serif;
  font-weight: bold;
  margin-left: 4px;
}

#container1 {
  padding-right: 0px;
  max-width: 200px;
  min-width: 269px;
  margin: 0px;
}

body {
  background: #15202B;
}

#btnConectarse {
  font-family: Alice, serif;
}

#tituloLogin {
  font-size: 38px;
  text-align: center;
  color: rgb(255,255,255);
}

#cheems1 {
  min-height: auto;
  height: 67px;
}

#textoRegistro {
  font-size: 20px;
  font-family: Alice, serif;
  color: rgb(108,105,86);
}

